$side-margin: 5px;
$gray: rgb(190, 188, 188);
$green: rgb(6, 133, 61);
$yellow: rgb(255, 230, 0);
$red: rgb(219, 31, 78);

.pass-bar {
  background-color: $gray;
  max-width: 200px;
  min-width: fit-content;
  height: 16px;

  padding: 2px 10px;
  margin: $side-margin;
  border-radius: 15px;

  color: white;
  font-size: 12px;
  line-height: 130%;
}

.empty-pass .pass-bar {
  background-color: $gray;
}

.short-pass {
  .easy {
    background-color: $red;
  }

  .medium {
    background-color: $red;
  }

  .strong {
    background-color: $red;
  }
}

.easy-pass {
  .easy {
    background-color: $red;
  }
}

.medium-pass {
  .easy {
    background-color: $yellow;
  }

  .medium {
    background-color: $yellow;
  }
}

.strong-pass {
  .easy {
    background-color: $green;
  }

  .medium {
    background-color: $green;
  }

  .strong {
    background-color: $green;
  }
}
